@media screen and (max-width: 767px) {
  .home__wrapper {
    h1 {
      margin: 10px 0;
    }
  }
  .pt-header {
    padding-top: 110px;
  }

  .sidebar__wrapper {
    flex-flow: column wrap;
    width: 100%;
    nav, .search__movies__wrapper {
      flex: unset;
    }
    .search__movies__wrapper {
      width: 90%;
    }
  }

  .movies__cards {
    .movies__cards__item {
      display: block;
      margin-bottom: 35px;
      padding: 0 0 10px;
      transition: none;
      transform: unset;
      &:hover {
        transform: unset;
      }
  
      .movies__cards__item__image {
        text-align: center;
      }
  
      .movies__cards__item__placeholder {
        height: auto;
        margin-left: 0;
        padding: 0 20px;

        .movies__cards__item__title {
          font-size: 22px;
        }

        .movies__cards__item__date {
          margin-bottom: 10px;
        }
        
        .movies__cards__item__overview {
          font-size: 15px;
        }
      }

      .movies__cards__item__functionality {
        display: block;
        height: auto;
        position: relative;

        & > span {
          margin: 15px 20px 0;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .movies__cards {
    .movies__cards__item {
      .movies__cards__item__functionality {
        & > span {
          font-size: 15px;
        }
      }
    }
  }
  .video__player--backdrop {
    .video__player--modal {
      &.video__player--modal-show {
        width: 95%;
        text-align: center;
        height: 400px;
  
        iframe {
          width: inherit;
          height: 370px;
        }
      }
    }
  }
}

// Fix for newer versions of iPhone
@media screen and (max-width: 900px) and (orientation: landscape) and (max-height: 500px) {
  .sidebar__wrapper {
    width: 100%;
  }
  .search__movies__wrapper {
    .search__movies__wrapper__list {
      max-height: 180px;
    }
  }
  .video__player--backdrop {
    .video__player--modal {
      &.video__player--modal-show {
        width: 95%;
        text-align: center;
        height: 280px;
  
        iframe {
          width: inherit;
          height: 250px;
        }
      }
    }
  }
}

