@media screen and (max-width: 767px) {
  .sidebar__wrapper {
    flex-flow: column wrap;
    width: 100%;
    nav, .search__movies__wrapper {
      flex: unset;
    }
    nav {
      .sidebar__wrapper__links {
        .sidebar__item {
          padding: 5px 10px;

          .sidebar__item__notification {
            & > span {
              bottom: 12px
            }
          }
        }
      }
    }

    .search__movies__wrapper {
      width: 90%;
      & > input {
        height: 30px;
      }
      .search__movies__wrapper__list {
        top: 40px;
      }
    }
  }

  .home__wrapper, .watch__later__wrapper {
    h1 {
      margin: 5px 0 10px;
    }
  }

  .pt-header {
    padding-top: 87px;
  }

  .movies__cards {
    .movies__cards__item {
      display: block;
      margin-bottom: 35px;
      padding: 0 0 10px;
      transition: none;
      transform: unset;
      &:hover {
        transform: unset;
      }
  
      .movies__cards__item__image {
        text-align: center;
      }
  
      .movies__cards__item__placeholder {
        height: auto;
        margin-left: 0;
        padding: 0 20px;

        .movies__cards__item__title {
          font-size: 22px;
        }

        .movies__cards__item__date {
          margin-bottom: 10px;
        }
        
        .movies__cards__item__overview {
          font-size: 15px;
        }
      }

      .movies__cards__item__functionality {
        display: block;
        height: auto;
        position: relative;

        & > span {
          margin: 15px 20px 0;
          font-size: 20px;
        }
      }
    }
  }

    .movies__details__wrapper__item {
      .movie__details__card {
        .movie__details__card__headline {
          .movie__details__card__genre {
            display: block;
            margin-left: 0 !important;
            margin-top: 5px;
            width: 60%;
          }
        }
      }
    }
}

@media screen and (max-width: 480px) {
  .movies__cards {
    .movies__cards__item {
      .movies__cards__item__functionality {
        & > span {
          font-size: 15px;
        }
      }
    }
  }
  .video__player--backdrop {
    .video__player--modal {
      &.video__player--modal-show {
        width: 95%;
        text-align: center;
        height: 400px;
  
        iframe {
          width: inherit;
          height: 370px;
        }
      }
    }
  }
  .movies__details__wrapper__item {
    .movie__details__card {
      display: block;
      width: 100%;
    }

    .movie__details__trailers {
      margin-bottom: 20px;
      div {
        margin-left: 0 !important;
        width: 100%;

        iframe {
          width: inherit;
        }
      }
    }
  }
}

// Fix for newer versions of iPhone
@media screen and (max-width: 900px) and (orientation: landscape) and (max-height: 500px) {
  .sidebar__wrapper {
    width: 100%;
  }
  .search__movies__wrapper {
    .search__movies__wrapper__list {
      max-height: 180px;
    }
  }
  .video__player--backdrop {
    .video__player--modal {
      &.video__player--modal-show {
        width: 95%;
        text-align: center;
        height: 280px;
  
        iframe {
          width: inherit;
          height: 250px;
        }
      }
    }
  }
}

