@media screen and (max-width: 768px) {
  .pt-header {
    padding-top: 110px;
  }
  .sidebar__wrapper {
    flex-flow: column wrap;
    width: 100%;
    nav, .search__movies__wrapper {
      flex: unset;
    }
    .search__movies__wrapper {
      width: 90%;
    }
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .search__movies__wrapper {
    .search__movies__wrapper__list {
      max-height: 180px;
    }
  }
}

