*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 400;
}

body, #app {
  height: 100%;
  overflow-x: hidden;
}

#app {
  position: relative;
  padding: 0 20px;
}

a, a:focus {
  color: rgba($black, 0.7);
  text-decoration: none;
}

textarea, button, input {
  outline: none;
  border: 0;
}