.v-lazy-image {
  filter: blur(3px);
  transition: filter 1s;
  will-change: filter;
}

.v-lazy-image-loaded {
  filter: blur(0);
}

.router-link-exact-active {
  color: $navy-blue !important;
}

.pt-header {
  padding-top: 52px;
}

.card-shadow {
  box-shadow: 0 2px 8px rgba($black, 0.1);
}

// Router view transition between pages
.fade-in-enter-active, .fade-in-leave-active {
  transition: opacity .5s
}

.fade-in-enter, .fade-in-leave-to  {
  opacity: 0
}